<section class="user">
  <h1><%= @user.name %></h1>
  <h2><%= @user.email %></h2>
  <%= link_to "Edit Account", edit_user_path(@user),  class: "ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
   <%= link_to "Delete Account", @user, method: :delete, data: {confirm: "Are you sure want to delete this user ?"},  class: "ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
</section>
