<section id="new-events">
  <div class="mt-12 flex flex-col justify-center items-center">
    <div>
      <h1> Adding the new Event </h1>
    </div>
    <%= render 'events/shared/form', event: @event %>
  </div>
</section>
